body.bg-admin {
  background-color: #0C0C0D; /* fondo general */
  position: relative;
  overflow-x: hidden;
}

body.bg-admin::before {
  content: "";
  position: fixed;
  inset: 0;
  background: #041A86;
  clip-path: polygon(0 0, 60% 0, 0 90%);
  z-index: -1;
}
.margen{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgba(31, 28, 28, 0.952);
    border-radius: 30px;
}
.table-responsive {
  overflow-x: auto;
}

.table {
  min-width: 700px;
}
.acciones{
  width: 100px;
}

@media(max-width: 1023){
  .eliminar{
    padding: 50px;
  }

}