

.nav-link-custom {
  font-size: 0.9rem;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: color .3s ease;
} 

.nav-link-custom:hover {
  color: #b4b3b3;
}
.icono{
    color: white;
} 
 /* ---------- Base ---------- */

.barra{
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.068);
width: 80%;
}
/* Ocultar menú en mobile */
.links {
  transition: all 0.3s ease;
}

.hamburger-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* ----------- MOBILE ----------- */
@media (max-width: 768px) {
    .barra{
        width: 90%;
        height: 50px;
    }
  .links {
    position: absolute;
    top: 70px;
    left: 0;
    flex-direction: column;
    background: rgb(22, 22, 22);
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all .3s ease;
  }

  .links.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}

/* Ocultar hamburguesa en desktop */
@media (min-width: 768px) {
  .hamburger-btn {
    display: none;
  }
}